@mixin reset {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@mixin container($width, $padding) {
	max-width: calc($width + $padding * 2);
	margin: 0 auto;
	padding: 0 $padding;
}

@mixin title {
	color: $color-black;
	text-align: center;
}

@mixin input {
	width: 75%;
	padding: 1.25rem;

	font-size: 1.25rem;
	line-height: 1.42;
	font-family: inherit;

	color: $color-black;
	background-color: $color-white;
	border: 1px solid $color-beige-200;
	border-radius: 10px;

	transition: $main-transition;

	outline: none;

	&:hover {
		background-color: $color-beige-100;
	}

	&:focus {
		background-color: $color-beige-100;
		border: 1px solid $color-gray-300;
	}
}
