.todo {
	&__input {
		text-align: center;
		input {
			@media (max-width: $sm) {
				width: 90%;
			}

			@media (max-width: $xs) {
				width: 100%;
			}
		}
	}

	&__items {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1rem;
	}

	&__item {
		position: relative;
		width: 75%;
		padding: 1.25rem;
		font-size: 1.25rem;
		line-height: 1.42;
		font-family: inherit;
		color: $color-black;
		background-color: $color-white;
		border: 1px solid $color-beige-200;
		border-radius: 10px;
		transition: background-color 0.3s ease, border 0.3s ease;
		cursor: pointer;

		@media (max-width: $sm) {
			width: 90%;
		}

		@media (max-width: $xs) {
			width: 100%;
		}

		&:active {
			border: 1px solid $color-gray-300;
			background-color: $color-beige-100;
		}

		span {
			position: absolute;
			top: 50%;
			z-index: 5;
			display: block;
			width: 28px;
			height: 28px;
			background-color: transparent;
			border: 1px solid $color-black;
			border-radius: 5px;
			transform: translateY(-50%);
		}

		span::after {
			content: '';
			position: absolute;
			top: 3px;
			left: 3px;
			z-index: 0;
			width: 20px;
			height: 20px;
			background-image: url('../assets/icons/completed.svg');
			background-size: contain;
			background-repeat: no-repeat;
			opacity: 0;
		}

		&.completed span::after {
			opacity: 1;
		}

		&.completed .todo__text {
			color: $color-gray-300;
			text-decoration: line-through;
		}
	}

	&__content {
		display: flex;
		gap: 1rem;
	}

	&__text {
		position: relative;
		padding: 0 3rem;
		overflow-wrap: break-word;
	}

	&__delete {
		position: absolute;
		top: 50%;
		right: 10px;
		width: 30px;
		height: 30px;
		background-color: transparent;
		border: none;
		transition: opacity 0.3s ease;
		cursor: pointer;
		transform: translateY(-50%);

		&:hover {
			opacity: 0.5;
		}

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			right: 3px;
			width: 25px;
			height: 2px;
			background-color: $color-black;
			transform: translateY(-50%) rotate(45deg);
		}

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			right: 3px;
			width: 25px;
			height: 2px;
			background-color: $color-black;
			transform: translateY(-50%) rotate(-45deg);
		}
	}

	&__change {
		position: absolute;
		top: 50%;
		left: 0;
		z-index: 5;
		width: 100%;
		transform: translateY(-50%);
	}

	&__nav {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 3rem;
		row-gap: 0.5rem;
		flex-wrap: wrap;
		margin-bottom: 2rem;
	}

	&__filter {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		&-item.active {
			background-color: $color-beige-200;
		}
	}

	&__count {
		font-size: 20px;
	}

	&__clear:active {
		background-color: darken($color-beige-200, 10%);
	}
}

.hidden {
	opacity: 0;
	visibility: hidden;
	appearance: none;
	pointer-events: none;
}

.visible {
	visibility: visible;
	opacity: 1;
	pointer-events: all;
	appearance: auto;
}
