$xs: 400px;
$sm: 768px;
$lg: 1024px;


$color-black: #1b1f2b;
$color-white: #ffffff;

$color-gray-300: #a6a6a6;
$color-gray-200: #d9dfdb;
$color-gray-100: #f1f3f2;

$color-beige-200: #f4f0e9;
$color-beige-100: #f9f7f4;

$primary-font: 'Roboto', "Arial", sans-serif;

$main-transition: all 0.3s ease;
